{% extends "ToDo/base.html" %}
{% block content %}
  <h2>Pending Tasks</h2>
  <hr>
  {% for task in tasks %}
    {% if task.author == user %}
      {%if not task.is_done%}  
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <small class="text-muted">{{ task.date_posted|date:"F d, Y" }}</small>
              </div>
                <h2><a class="article-title task-notdone" href="{% url 'task-detail' task.id %}">{{ task.title }}</a></h2>
              <h6>Due Date: {{ task.due_date|date:"j/n/Y" }}</h6>
            </div>
        </article>
      {% endif %}
    {% endif %}
  {% endfor %}
  <h2>Completed Tasks</h2>
  <hr>
  {% for task in tasks %}
    {% if task.author == user %}
      {%if task.is_done%}  
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <small class="text-muted">{{ task.date_posted|date:"F d, Y" }}</small>
              </div>
              <h2><a class="article-title task-done" href="{% url 'task-detail' task.id %}">{{ task.title }}</a></h2>
              <h6>Due Date: {{ task.due_date|date:"j/n/Y" }}</h6>
            </div>
        </article>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock content %}