{% extends 'spotify/base.html' %}
{% load socialaccount %}
{% block content %}
{#{% load crispy_forms_tags %}#}
{% if user.is_authenticated %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">PLAYLIST</legend>
                    {{ form.as_p}}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Update">
            </div>
        </form>
    </div>
 {% endif %}
{% endblock%}